<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tragicfruit.twitcast"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true">
    </uses-feature>

    <application
        android:name=".TWiTCastApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPagerActivity"/>
        <activity
            android:name=".episode.EpisodeListActivity"
            android:parentActivityName=".MenuPagerActivity"/>
        <activity
            android:name="com.google.android.libraries.cast.companionlibrary.cast.player.VideoCastControllerActivity"
            android:label=""
            android:launchMode="singleTask"
            android:parentActivityName=".MenuPagerActivity"
            android:theme="@style/Theme.CastVideosTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name="com.google.android.libraries.cast.companionlibrary.notification.VideoCastNotificationService"/>
        <service android:name="com.google.android.libraries.cast.companionlibrary.cast.reconnection.ReconnectionService"/>
        <receiver android:name="com.google.android.libraries.cast.companionlibrary.remotecontrol.VideoIntentReceiver"/>
    </application>

</manifest>
